#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  #components-layout-demo-responsive {
    height: 100%;
  }
  .eug-layout-header {
    // margin-top: 21px;
    &-msg{
      text-align: left;
      padding-top: 20px;
    }
  }